.module[data-module="gp-module-ui-blueprint"] {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 40vw;
  padding: 4vw 4vh;
  margin: -24vh -24vw;
  background: blue;
  color: white;
  font-size: calc(14 / 375 * 100)vh;
}
