---
text: 'Default Blueprint Module'
---
<div class="module controller" data-module="gp-module-ui-blueprint" data-controller="gp-module-ui-blueprint">

  <p>{{{text}}}</p>

  {{{mixin "gp-module-ui-blueprint/sub"}}}

</div>
